<!DOCTYPE html>
    <head>
        <title>e-paper github stats</title>
        <link rel="icon" type="image/x-icon" href="./favicon.ico">
        <link rel="icon" type="image/svg+xml" href="./favicon.svg">
    </head>
    <body>
        <div class="center">
            <form method="POST">
                <h1>e-paper github stats - admin panel</h1>
                <label for="usrname">Github Username: </label>
                <input name="text" id="usrname" name="usrname" autocomplete="off">
                <input type="submit">
            </form>
        </div>
        <style>
            .center {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                padding: 10px;
                }
        </style>
    </body>
</html>